/*GENERAL*/
body{
    background-color: #fffcfe;
    margin:0%;
    font-family: 'Roboto', sans-serif;
}

header div img {
    width: 60px;
}

header li{
    margin:8px;
}


header, footer{
    background-color: #2b2b70;
    color:white;
    margin:0px;
    padding:10px 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a, footer a{
    color: white;
    text-decoration: none;
    display: inline;
}

header li, footer li{
    list-style-type: none;
    display: inline;
}

.footerContacto ul{
     display: flex;
     flex-direction: column;
     padding-inline-start: 0px;
}

/*formulario para todas las paginas*/
.formulario{
    background-color: #2E2D4D;
    color:white;
    margin:20px 100px;
    padding:30px;
    display: flex;
    grid-area: formulario;
}

.formulario input{
    display:flex;
    flex-direction: column;
    margin:0px 10px 10px 0px ;
    padding-right: 90px;
}


/*INDEX*/

.gridIndex{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "banner"
    "linkproductos"
    "formulario"
    "footer";
}

.banner{
    background-color: #a09abc;
    color: white;
    padding: 20px 80px;
    display: flex;
    justify-content: space-around;

}

.banner img{
    width:300px;
}

.linkproductos{
    display: grid;
    grid-column: 30% 30%;
    grid-template-areas: "linkcelu linkservice";
    grid-area: linkproductos;
}

.linkcelu{
    grid-area: linkcelu;
}
.linkservice{
    grid-area: linkservice;
}

.linkproductos div{
    border-width: medium;
    border-color: #161662;
    border-style: solid;
    border-radius: 20px;
    margin: 50px;
    padding:30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkproductos div h1{
    width: 12%;
    height: 100%;
    background-color: #2e2d4d;
    color:white;
    border-radius: 200px;
    display: flex;
    justify-content: center;
} 

.linkproductos div p, .linkproductos div button{
    margin: 20px;
}

.iconos{
    background-color: #b8bccc;
    padding:30px;
    display: flex;
    justify-content: space-around;
}

.iconos div{
    margin:10px;
}

.iconos i{
    background-color: #2e2d4d;
    color:white;
    border-radius: 100px;
    padding:10px 15px;
    font-size: 50px;
    align-self: center;
}

/*PRODUCTOS*/
.gridProductos{
    display: grid;
    grid-template-areas: 
    "header header"
    "titulo titulo"
    "categorias productos"
    /*espacio vacio y despues productos*/
    "footer footer";
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto ;
}
header{ grid-area: header;}
footer{grid-area: footer;}

.pag_productos h1{
    background-color: #A09ABC;
    margin: 0px;
    grid-area: titulo;
}

header{grid-area: header;}
footer{grid-area: footer;}

.flex{
    display: flex;
}
.categorias{
    background-color: #2E2D4D;
    color: white;
    margin-bottom:200px;
    padding:20px;
    grid-area: categorias;
}


.productos{
    margin:20px;
    grid-area: productos;
    display: grid;
    grid-template-columns: auto auto auto;
}

.productos div{
    border-style: solid;
    border-color: #2E2D4D;
    border-radius: 10px;
    align-items: center;
    padding:10px;
    margin:20px;
}

.productos img{
    width:200px;
}


/*SERVICIOS*/

.gridServicios{
    display:grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "servicios"
    "formulario"
    "footer";
}

.servicios div{
    background-color: #A09ABC;
    padding-bottom: 40px;
    margin-bottom:30px;
    grid-area: servicios;
    display: flex;
    justify-content: space-around;

    
}
.servicios h1{
    background-color: #A09ABC;
    display:flex;
    justify-content: center;
    margin: 0px;
    padding:30px;
}

.servicios img{
    width:200px;
}

.servicios div{
    align-items: center;
}

.servicios li{
    list-style-type: none;
}

/*CONTACTO*/

.gridContacto{
    display:grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "contacto"
    "formulario"
    "footer";
}

.contacto {
    background-color: #A09ABC;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: contacto;
}

.contacto h1{
    font-size: medium;
    align-self: center;
    margin: 20px;
}

.contacto img{
    width:100px;
}

.contacto a{
    font-size: 20px;
    padding:5px;
}

/*INFORMACION*/

.informacion{
    background-color: #A09ABC;
    margin:50px;
    padding:20px;
    grid-area: informacion;

}

.informacion img{
    width:100px;
    margin:20px;
}

.informacion div{
    align-items: center;
}

.gridInfo{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "informacion"
    "footer";
}

