/*GENERAL*/
body{
    background-color: #fffcfe;
    margin:0%;
    font-family: 'Roboto', sans-serif;
}

header div img {
    width: 60px;
}

header li{
    margin:8px;
}

header, footer{
    background-color: #2b2b70;
    color:white;
    margin:0px;
    padding:10px 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a:hover , #Links a:hover{
    background-color: #ddd;
    color: black;

  }
header i:hover{
    background-color: #ddd;
    color: black;

}  

.hamburger{
    display: none;
}
@media (min-width:1024px){
    #Links{
        display: none;
    }
}

@media (max-width:768px){

    header{
        display:flex;
        background-color: #2b2b70;
        color:white;
        padding: 1rem;
        margin:0px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 0,5rem;

    }
    header img{
        width:3rem;
    }

    header nav{
        display:none;
    }

    i{font-size: 1.3rem;}

    .hamburger{
        font-size: 1.5rem;
        display: flex;
    }

    footer{
        padding:10px 30px;
        display:flex;
        flex-direction: column;
        align-items: baseline;
    }

    #Links{
        display: none;
        flex-direction: column;
        text-decoration: none;
        background-color: #3e3e9a;
        padding:0.5rem;
    }

    #Links a{text-decoration: none; color: white;}


}
    header a, footer a{
        color: white;
        text-decoration: none;
        display: inline;
    }
    
    header li, footer li{
        list-style-type: none;
        display: inline;
    }
    
    .footerContacto ul{
         display: flex;
         flex-direction: column;
         padding-inline-start: 0px;
    }

    header ul{
        padding-inline-start: 0px;
    }






/*formulario para todas las paginas*/


@media (min-width:1024px){
    .formulario{
        background-color: #2E2D4D;
        color:white;
        margin:2rem 5rem;
        padding:2rem;
        display: flex;
        justify-content: center;
        grid-area: formulario;
    }
    
    .formulario input{
        display:flex;
        flex-direction: column;
        margin:0px 10px 10px 0px ;
        padding-right: 90px;
    }

    iframe{
        margin:0rem 1rem
    }
}

@media (max-width:768px){
    .formulario{
        background-color: #2E2D4D;
        color:white;
        display: flex;
        flex-direction: column;
        padding:2rem;
        margin-bottom: 3rem;
    }
    
    .formulario input{
        display:flex;
        flex-direction: column;
        margin:0px 10px 10px 0px ;
    }

    iframe{
        margin:0.5rem 0rem
    }
}

/*INDEX*/

@media (min-width:1024px){
    .gridIndex{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "banner"
        "linkproductos"
        "formulario"
        "footer";
    }

    .banner{
        padding: 20px 80px;
    }
    .linkproductos{
        display: flex;
        flex-direction: row;
        grid-area: "linkproductos";

    }
    

}

@media (max-width:768px){
    .banner{
        flex-direction: column;
    }
}

.banner{
    background-color: #a09abc;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.banner img{
    width:300px;
}

.linkproductos div{
    border-width: medium;
    border-color: #161662;
    border-style: solid;
    border-radius: 20px;
    margin: 50px;
    padding:30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.linkproductos div h1{
    width:50px;
    height: 50px;
    background-color: #2e2d4d;
    color:white;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
} 

.linkproductos div p, .linkproductos div button{
    margin: 20px;
}

.iconos{
    background-color: #b8bccc;
    padding:30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.iconos div{
    margin:10px;
}

.iconos i{
    background-color: #2e2d4d;
    color:white;
    border-radius: 100px;
    padding:10px 15px;
    font-size: 50px;
    align-self: center;
}

/*PRODUCTOS*/

@media (max-width:768px){
    .categorias{
        display:none
    }
    .productos{
        display: grid;
        grid-template-columns: repeat(2,auto);
    }

    .CategoriasyCards{
        display: flex;
        flex-direction: column;
    }

}

@media (min-width:1024px){
    .CategoriasyCards{
        display: grid;
        grid-template-areas: "categorias cards";
        grid-template-columns: 20% 80%;
    
    }
    .productos{
        margin:20px;
        grid-area: cards;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

}


.pag_productos .titulo{
    background-color: #A09ABC;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.categorias{
    background-color: #2E2D4D;
    color: white;
    margin-bottom:200px;
    padding:20px;
    grid-area: categorias;
}



.productos div{
    border-style: solid;
    border-color: #2E2D4D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin:20px;
}

.productos img{
    width:200px;
}


/*SERVICIOS*/

.gridServicios{
    display:grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "servicios"
    "formulario"
    "footer";
}

.servicios div{
    background-color: #A09ABC;
    padding-bottom: 40px;
    margin-bottom:30px;
    grid-area: servicios;
    display: flex;
    justify-content: space-around;

    
}
.servicios h1{
    background-color: #A09ABC;
    display:flex;
    justify-content: center;
    margin: 0px;
    padding:30px;
}

.servicios img{
    width:200px;
}

.servicios div{
    align-items: center;
}

.servicios li{
    list-style-type: none;
}

/*CONTACTO*/

.gridContacto{
    display:grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "contacto"
    "formulario"
    "footer";
}

.contacto {
    background-color: #A09ABC;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: contacto;
}

.contacto h1{
    font-size: medium;
    align-self: center;
    margin: 20px;
}

.contacto img{
    width:100px;
}

.contacto a{
    font-size: 20px;
    padding:5px;
}

/*INFORMACION*/

.informacion{
    background-color: #A09ABC;
    margin:50px;
    padding:20px;
    grid-area: informacion;

}

.informacion img{
    width:100px;
    margin:20px;
}

.informacion div{
    align-items: center;
}

.gridInfo{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "informacion"
    "footer";
}

